// -----------------------------------------------------------------------------
//  Objects > Shared > Form Controls
// -----------------------------------------------------------------------------

.form-control {
  font-size: 18px;
  padding-bottom: 30px;
  padding-top: 22px;
  position: relative;

  &.is-disabled {
    opacity: .5;
    pointer-events: none;
  }

  .form-control-label {
    left: 5px;
    position: absolute;
    top: 40px;
    transform: translate(0, 0) scale(1);
    transform-origin: left;
    transition: transform $time-form-label cubic-bezier(0, 0, .2, 1) 0ms;

    &.is-hidden {
      visibility: hidden;
    }

    &.is-shifted {
      transform: translate(0, -35px) scale(.8);
    }
  }

  .form-control-label,
  .form-control-error,
  .form-control-hint {
    pointer-events: none;
  }

  .form-control-error,
  .form-control-hint {
    font-size: 15px;
    padding-left: 5px;
  }

  .form-control-error {
    color: $c-form-error;
    margin-top: 5px;
  }

  .form-field {
    background-color: $c-form-control-input-bg;
    border: 0;
    border-bottom: 1px solid $c-form-control-input-border;
    box-sizing: border-box;
    display: block;
    min-height: 43px;
    outline: none;
    padding: 2px 5px 0;
    width: 100%;
  }
}
