// -----------------------------------------------------------------------------
//  Settings > Colors
// -----------------------------------------------------------------------------

$c-white: #fff;
$c-black: #000;
$c-red: #f44336;
